// 字体颜色
$jiahao: rgb(251,40,71);
$lightGray: rgba(150, 150, 150, 1);
$tabFont: rgba(0,0,0,0.6);
$tabBold: #000;
$nameColor: rgba(80, 80, 80, 1);
$bottomColor: rgb(37,37,37);
$timeColor: rgb(166,166,166);
$unLikeColor: rgb(86,86,86);
$inputFontColor: rgb(110,110,110);

// 背景颜色
$white: #fff;
$gray: rgb(249,249,249);
$inputColor: rgb(245,245,245);

// 边框颜色
$borderTop: rgba(0, 0, 0, .1);
$changeTabColor: #ff1616;
$inputLineColor: rgb(240,240,240);
